@import "~tailwindcss/base";
@import "~tailwindcss/components";
@import "~tailwindcss/utilities";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input[type="checkbox"]{
  height: 1.2rem;
  width: 1.2rem;
}

label{
  transition: all 0.2s ease-in-out;
}

label:hover,
input:hover{
  cursor: pointer;
  color: #cbd5e1;
}
